@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1210px;
  margin-right: auto;
  margin-left: auto;
}

.plushies {
  display: flex;
  gap: 10px;
  align-items: center;
}